<div id="div1">
    <table class="columns">
      <tr>
        <td><div google-chart chart="myChart1" ng-hide="ggone" ng-model="chart1build" agc-on-select="hideSeries(chart1build)" style="width: 400px; height: 400px;"></div></td>
        <td><div google-chart chart="myChart2" ng-hide="ggtwo" ng-model="chart2build" agc-on-select="hideSeries(chart2build)" style="width: 400px; height: 400px;"></div></td>
        <td><div google-chart chart="myChart3" ng-hide="ggthree" ng-model="chart3build" agc-on-select="hideSeries(chart3build)" style="width: 400px; height: 400px;"></div></td>
      </tr>
    </table>
    <table class="columns">
      <tr>
        <td><div google-chart chart="myChart4" ng-hide="ggfour" ng-model="chart4build" agc-on-select="hideSeries(chart4build)" style="width: 400px; height: 400px;"></div></td>
        <td><div google-chart chart="myChart5" ng-hide="ggfive" ng-model="chart5build" agc-on-select="hideSeries(chart5build)" style="width: 400px; height: 400px;"></div></td>		
        <td><div google-chart chart="myChart6" ng-hide="ggsix" ng-model="chart6build" agc-on-select="hideSeries(chart6build)" style="width: 400px; height: 400px;"></div></td>
		<td></td>		
      </tr>
    <table class="columns">
      <tr>
        <td><div google-chart chart="myChart7" ng-hide="ggseven" ng-model="chart7build" agc-on-select="hideSeries(chart7build)" style="width: 400px; height: 400px; "></div></td>
		<td></td>		
      </tr>
      
    </table>
</div>