<html>

<head>
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script  type="text/javascript" src="./controllers/ConfigureProduct.js"></script>
    <title>Active Workspace</title>
</head>

<body ng-app="myApp" ng-controller="productCtrl" ng-init="BringBackProducts()">
<br>
  <div style="text-align: right">
            <a href="configure.html" target="iframe1"><i class="fa fa-gears"></i>Admin Configuration</a> | 
            <a href="UpdateTeamMappings.html" target="iframe1"><i class="fa fa-steam"></i>Configure Teams</a> | 
            <a href="RegisterUser.html" target="iframe1"><i class="fa fa-registered"></i>Register User</a> | 
            <a href="" target="iframe1" ng-click="logout()"><i class="fa fa-registered"></i>Logout</a> |
</div>
<div >
    <input ng-checked="true" type="radio" name="showHideExample" ng-model="showHideExample" value="multi" ng-click="addProduct(true)">Add Product
    <input type="radio" name="showHideExample" ng-model="showHideExample" value="single" ng-click="updateVersions(true)">Add/Remove Product Versions
<br>
<br>

<form ng-submit="" class="form-horizontal">
  <div class="form-group" ng-show="addProductControls">
    <label for="product" class="col-sm-3 control-label">Product Name</label>
    <div class="col-sm-4">
      <input class="form-control" id="product" placeholder="Product Name" ng-model="formInfo.productname">
      <span ng-show="productNameRequired">{{productNameRequired}}</span>
    </div>
  </div>
  <div class="form-group" ng-show="updateProductControls">
    <label ng-show="addSelectLabel" for="product" class="col-sm-3 control-label">Select Product : </label>
    <select ng-show="addSelectProduct"  style="width:200px" class="form-control" name="awproduct" ng-model="selectedRequest.awproduct" ng-options="c for c in clients.awproducts" required ng-change="getNewProductVersions(selectedRequest.awproduct)">Select Release</select>
    <span ng-show="selProductVersionRequired">{{selProductVersionRequired}}</span>
    <br>
    <label for="prod_version" class="col-sm-3 control-label">Product Version : </label>
    <div class="col-sm-4">
      <input class="form-control" id="prod_version" placeholder="Product Version" ng-model="formInfo.productversion">
      <span ng-show="productVersionRequired">{{productVersionRequired}}</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <td><button class="btn btn-info" ng-click="addNewProduct()" ng-show="addProductButton">Add Product</button>
      <td><button class="btn btn-info" ng-click="addProductVersion(selectedRequest.awproduct)" ng-show="addVersionButton">Add Product Version</button>
      <td><button class="btn btn-info" ng-click="clear()">Clear</button>
        <span align="center">{{productStatus}}</span>
    </div>
  </div>
</form>

</div>

    <table class="table" ng-show="addProductControls">
      <thead>
        <tr>
          <th>No.</th>
          <th>Product Name</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="c in clients.awproducts">
          <td>{{$index+1}}</td>
          <td>{{c}}</td>
          <td><button class="btn btn-danger" ng-click="removeProduct(c)">Remove</button></td>
        </tr>
      </tbody>
    </table>

    <table class="table" ng-show="updateProductControls">
      <thead>
        <tr>
          <th>No.</th>
          <th>Product Version</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="v in clients.productversions">
          <td>{{$index+1}}</td>
          <td>{{v}}</td>
          <td><button class="btn btn-danger" ng-click="removeProductVersion(v)">Remove</button></td>
        </tr>
      </tbody>
    </table>  

</body>

</html>