<!DOCTYPE>
<html ng-app="myApp">

<head>

    <link rel="stylesheet" type="text/css" href="mystyle.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="xeditable.css" >
    <script src="xeditable.js"></script>
    <script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
    <link rel='stylesheet prefetch' href='//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <script  type="text/javascript" src="./controllers/TrendsController.js"></script>
    <title>Active Workspace</title>
</head>

<body ng-controller="TrendsCtrl" ng-init= "showtrends()">
</br>
    <table class="columns">
      <tr>
        <td>
          </div >
          <div style="padding-left: 850px;">
              <button class="btn btn-primary" ng-click="GotoBackPage()">Previous Page</button>
          </div>
        </td>
      </tr>
    </table>
    <!--<h3  align="center">TRENDS</h3>-->
      <div style="padding-left: 75px;" class="col-xs-3 selectContainer">Select Product : 
        <select class="form-control" name="product" ng-model="selectedRequest.awproduct" ng-options="c for c in clients.awproducts" required ng-change="getProductVersionsOf(selectedRequest.awproduct)"></select>
      </div>
      <div style="padding-left: 75px;" class="col-xs-3 selectContainer">Select Release : 
        <select class="form-control" name="trendrelease" ng-model="selectedRequest.trendrelease" ng-options="c for c in clients.trendreleases" required ng-change="updateTrend( selectedRequest.trendrelease ) "></select>
    </div>
    </br>
    </br>
    </br>
    <div google-chart chart="TrendsDataObject" style="height:1000px; width:100%;"></div>

    <table class="columns">
      <tr>
        <td><div ng-hide="true" ng-model="AW33data">{{AW33data}}</div></td>
        <td><div ng-hide="true"  ng-model="AW32data">{{AW32data}}</div></td>
      </tr>
    </table>

</body>

</html>